parameters:
    # The value must be the key of an entry in the "services" section.
    childWorkflowDefaultOptions: defaultChildWorkflowOptions
    activityDefaultOptions: defaultActivityOptions

services:
    # default configuration for services in *this* file
    _defaults:
        # Automatically injects dependencies in your services.
        autowire: true
        bind:
            # Queue for the workflow workers
            $workflowTaskQueue: '%env(WORKFLOW_TASK_QUEUE)%'
            # Queue for the activity workers
            $activityTaskQueue: '%env(ACTIVITY_TASK_QUEUE)%'

    # Application workflows and activities
    App\Workflow\Dist\Workflow\:
        shared: false
        resource: '../../src/Workflow/Dist/Workflow/'
        tags: ['temporal.service.workflow']

    App\Workflow\Dist\ChildWorkflow\:
        shared: false
        resource: '../../src/Workflow/Dist/ChildWorkflow/'
        tags: ['temporal.service.workflow.child']

    App\Workflow\Dist\Activity\:
        shared: false
        resource: '../../src/Workflow/Dist/Activity/'
        tags: ['temporal.service.activity']

    # Options for the child workflow proxies
    defaultChildWorkflowOptions:
        shared: false
        class: 'Temporal\Workflow\ChildWorkflowOptions'
        factory: ['App\Temporal\Factory\ChildWorkflowFactory', 'defaultOptions']

    # Options for the activity proxies
    defaultActivityOptions:
        shared: false
        class: 'Temporal\Activity\ActivityOptions'
        factory: ['App\Temporal\Factory\ActivityFactory', 'defaultOptions']

    moneyBatchActivityOptions:
        shared: false
        class: 'Temporal\Activity\ActivityOptions'
        factory: ['App\Temporal\Factory\ActivityFactory', 'moneyBatchOptions']

    simpleBatchActivityOptions:
        shared: false
        class: 'Temporal\Activity\ActivityOptions'
        factory: ['App\Temporal\Factory\ActivityFactory', 'simpleBatchOptions']

    # Activity proxies
    # App\Workflow\Dist\Activity\SimpleActivity\GreetingActivityInterface:
    #     shared: false
    #     public: true
    #     factory: ['App\Temporal\Factory\ActivityFactory', 'stub']
    #     arguments:
    #         $activity: 'App\Workflow\Dist\Activity\SimpleActivity\GreetingActivityInterface'
    #         $options: '@defaultActivityOptions'
